:root {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #0f172a;
    background-color: #f8fafc;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #e2e8f0;
}

body,
button,
input,
select,
textarea {
    /* https://stackoverflow.com/questions/6520689/font-family-is-not-inherited-to-the-form-input-fields */
    /* inherit from :root/ */
    font-family: inherit;
}
